@import url("https://fonts.googleapis.com/css2?family=Federo&family=Inter&family=Open+Sans&family=Potta+One&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Federo";
  font-size: 16px;
  font-weight: 400;
  color: #f5f5f5;
  --main-tw-color-: #fff;
}

button {
  cursor: pointer;
  background: transparent;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  overflow-y: scroll;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1110px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100px;
}
.header-block .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Potta One";
  font-size: 38px;
  letter-spacing: -0.5px;
  color: #565759;
  text-transform: capitalize;
}
.header-block .header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-block .header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-block .header__buttons > *:not(:last-child) {
  margin-right: 38px;
}

.navigation .navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Open Sans";
  letter-spacing: -0.5px;
  color: #697390;
}
.navigation .navigation__list > *:not(:last-child) {
  margin-right: 33px;
}

.navigation__link .link__item {
  font-family: "Open Sans";
  letter-spacing: normal;
  text-transform: capitalize;
  color: #697390;
}

.header__button {
  width: 22px;
  height: 22px;
}
.header__button .icon {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  min-height: 100vh;
}
.main .container {
  min-height: 100vh;
}