@import url("https://fonts.googleapis.com/css2?family=Federo&family=Inter&family=Open+Sans&family=Potta+One&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Federo";
  font-size: 16px;
  font-weight: 400;
  color: #f5f5f5;
  --main-tw-color-: #fff;
}

button {
  cursor: pointer;
  background: transparent;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  overflow-y: scroll;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1110px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Potta One";
  font-size: 38px;
  letter-spacing: -0.5px;
  color: #565759;
  text-transform: capitalize;
}

.title {
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  color: #3A3A3A;
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100px;
}
.header-block .header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-block .header__hamburger-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-block .header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-block .header__buttons > *:not(:last-child) {
  margin-right: 38px;
}

.navigation .navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Open Sans";
  letter-spacing: -0.5px;
  color: #697390;
}
.navigation .navigation__list > *:not(:last-child) {
  margin-right: 33px;
}

.navigation__link .link__item {
  font-family: "Open Sans";
  letter-spacing: normal;
  text-transform: capitalize;
  color: #697390;
}

.hamburger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hamburger > *:not(:last-child) {
  margin-bottom: 4px;
}
.hamburger .hamburger__line {
  width: 35px;
  height: 4px;
  background: #697390;
}
.hamburger .hamburger__line:nth-child(1) {
  width: 25px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.header__button {
  width: 22px;
  height: 22px;
}
.header__button .icon {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  min-height: 100vh;
}
.main .container {
  min-height: 100vh;
}

.hero-block {
  position: relative;
  padding: 35px 0 0 0;
}
.carouserl {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
}
.carouserl .carousel__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.carouserl .carousel__item > *:not(:last-child) {
  margin-right: 100px;
}
.image-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 625px;
  max-height: 450px;
}
.image-block .item__image {
  width: 100%;
  height: 100%;
}

.item__description-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 34.7%;
          flex: 0 0 34.7%;
  -webkit-transform: translateY(-27px);
          transform: translateY(-27px);
}
.item__description-block > *:not(:last-child) {
  margin-bottom: 25px;
}
.item__description-block .item__description {
  text-transform: none;
  letter-spacing: 0.9px;
}
.item__description-block .title {
  font-size: calc(2.22em + 1vw);
}
.item__description-block .item__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 122px;
  height: 38px;
  background: #434343;
  text-transform: uppercase;
  font-family: "Open Sans";
  letter-spacing: -0.5px;
}

.carouserl__buttons {
  position: absolute;
  z-index: 1;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 113.15%;
  margin-left: -77px;
}
.carouserl__buttons .next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.carousel__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 27px;
  height: 53px;
}
.carousel__button .icon {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}