$opensans: 'Open Sans';
$potta: 'Potta One';
$inter: 'Inter';
$ls02: 0.2px;
$ls05: -0.5px;
$ls09: 0.9px;

html {
    overflow-y: scroll;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1110px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
}

.logo {
    display: flex;
    align-items: center;
    font-family: 'Potta One';
    font-size: 38px;
    letter-spacing: $ls05;
    color: #565759;
    text-transform: capitalize;
}

.title {
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    color: #3A3A3A;
}

.shop-now {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 122px;
    height: 38px;
    color: #fff;
    background: #434343;
    text-transform: uppercase;
    font-family: $opensans;
    letter-spacing: $ls05;
}