* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: 'Federo';
    font-size: 16px;
    font-weight: 400;
    color: #2A2A2B;
}

button {
    cursor: pointer;
    background: transparent;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}